<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fkit.hrm.dao.UserDao1">
    <select id="selectByLoginnameAndPassword1" resultType="org.fkit.hrm.domain.User">
        select * from user_inf where loginname = #{loginname} and password = #{password}
    </select>
</mapper>

